.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;

  background: #1e1e1e;
  color: white;

  padding: 0rem 1.2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #333;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.navbarLogo {
  font-size: 1.3rem;
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


.navbarLinks {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.navItem {
  position: relative;
}

.navbarLinks a,
.dropdownLabel {
  color: #ccc;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease;
}

.navbarLinks a:hover,
.dropdownLabel:hover {
  color: white;
}

/* ----------------------------- */
/* DROPDOWN MENU */
/* ----------------------------- */
.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 125px;
  background: #2b2b2b;
  padding: 0.5rem;
  border-radius: 6px;
  list-style: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.dropdownMenu li {
  padding: 0.6rem;
  display: block;
  gap: 1rem;
}

.dropdownMenu a {
  color: #ccc;
  display: block;
  width: 100%;
}

.dropdownMenu a:hover {
  background: #3a3a3a;
  color: white;
}

/* ----------------------------- */
/* BUTTON STYLE */
/* ----------------------------- */
.navButton {
  background: #4fa3ff;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  transition: background 0.2s ease;
  font-size: 0.95rem;
}

.navButton:hover {
  background: #1d8aff;
}

/* ----------------------------- */
/* TOGGLE SWITCH */
/* ----------------------------- */
.toggleWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.toggleText {
  color: #ccc;
  font-size: 1rem;
  user-select: none;
}

.toggleWrapper:hover .toggleText {
  color: white;
}

.toggleSwitch {
  position: relative;
  width: 48px;
  height: 24px;
  display: inline-block;
}

.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  background: #777;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
  border-radius: 24px;
}

.slider:before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

.toggleSwitch input:checked + .slider {
  background: #4fa3ff;
}

.toggleSwitch input:checked + .slider:before {
  transform: translateX(24px);
}
